/* Responsive designs for Medium Devices */
@media (max-width: 768px) {
}

/* Responsive designs for Small Devices */
@media (max-width: 480px) {
  .nav-items {
    display: none;
    border: 1px solid red;
  }
  .dropdown-hamburger {
    display: block;
  }
  .side-nav {
    flex-direction: column;
    padding: 0px;
  }
  .side-nav a {
    text-decoration: none;
    color: white;
    padding: 10px 0px 10px 0px;
  }
}
