/* Responsive designs for Medium Devices */
@media (max-width: 768px) {
}

/* Responsive designs for Small Devices */
@media (max-width: 480px) {
  /* Responsive navigation bar */
  .nav-items {
    display: none;
    border: 1px solid red;
  }
  .dropdown-hamburger {
    display: block;
  }
  .side-nav {
    flex-direction: column;
    padding: 0px;
  }
  .side-nav a {
    text-decoration: none;
    color: white;
    padding: 10px 0px 10px 0px;
  }
  /* Responsive header */
  .header > div {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .header-img {
    margin-left: 0px;
  }
  .half-width {
    width: 100%;
  }
  h1 {
    font-size: 35px;
  }
  .header .primary-btn {
    font-size: 13px;
  }
  /* Responsive work */
  .single-project {
    flex-direction: column-reverse;
  }
  /* Responsive about me */
  .about-skill {
    flex-direction: column-reverse;
  }
}
