* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Open Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  width: 85%;
  margin: auto;
}
h1 {
  font-size: 45px;
  color: white;
}

.primary-color {
  color: #00bfa6;
}
.primary-btn {
  border: none;
  padding: 10px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 5px;
  background-color: #00bfa6;
  color: white;
  border: 3px solid #00bfa6;
  text-decoration: none;
}
.primary-btn:hover {
  background-color: #141628;
  cursor: pointer;
}
/* Navigation bar */
nav {
  background-color: #141628;
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100%;
}
nav div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.nav-items {
  display: flex;
}
.nav-items li {
  list-style-type: none;
}
.nav-items li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.nav-items li:nth-child(-n + 3) {
  margin-right: 30px;
}
.name-logo {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.name-logo a {
  text-decoration: none;
  color: white;
}
.dropdown-hamburger {
  color: white;
  display: none;
  font-size: 20px;
}
.dropdown-cross {
  color: white;
  display: none;
  font-size: 20px;
}
.side-nav {
  display: none;
}
.active {
  border-bottom: 2px solid #00bfa6;
}
/* Navigation bar */
/* Header Section */
.half-width {
  width: 50%;
  margin-top: 10%;
}
.header {
  height: 597px;
  background-color: #141628;
}
.header > div {
  display: flex;
  align-items: center;
}
.header-img {
  margin-left: 50px;
}
.header-img img {
  width: 100%;
}
/* Header Section */
/* Work Section */
.work {
  background-color: #1b1e32;
  padding-bottom: 90px;
}
.single-project {
  display: flex;
  align-items: center;
  animation: slide 0.3s ease-in-out;
}
@keyframes slide {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
.project-img img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 30px #1a1a1a;
}
.btn-group {
  text-align: center;
  margin-top: 50px;
}
.btn-group button {
  border: none;
  background-color: #00bfa6;
  padding: 10px;
  color: white;
}
.btn-group button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.work h2 {
  text-align: center;
  color: white;
  font-size: 35px;
  padding-top: 50px;
}
.project-details {
  color: white;
}
.project-details h2 {
  text-align: left;
  padding: 0px;
  margin: 20px 0px 20px 0px;
}
.project-details h3 {
  margin: 20px 0px 20px 0px;
}
/* Work Section */
/* About Section */
#about {
  background-color: #141628;
  color: white;
  padding-bottom: 90px;
  line-height: 35px;
}
#about h2 {
  text-align: center;
  padding-top: 50px;
}
.about-skill {
  display: flex;
  align-items: center;
}
/* About Section */
/* Contact Me Section */
#contact {
  background-color: #1b1e32;
  color: white;
  padding: 50px 0px 50px 0px;
}
.formDiv label,
input,
textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: nones;
}
.formDiv {
  width: 60%;
  margin: auto;
}
.formBtn {
  display: block;
  width: 100%;
  border: none;
  box-sizing: border-box;
  background-color: #00bfa6;
  margin-top: 20px;
  padding: 10px;
  color: white;
}
.confirmation {
  width: 21%;
  padding: 10px;
  border-radius: 5px;
  position: sticky;
  top: 100px;
  left: 74%;
  background-color: #141628;
  transition: 1s;
}
.confirmation span {
  padding: 10px;
}
.confirmation span:hover {
  cursor: pointer;
}
#success {
  display: none;
  border: 1px solid #00bfa6;
}
#failed {
  display: none;
  border: 1px solid #ff2e2e;
}
/* Contact Me Section */
/* Footer Section */
footer {
  background-color: #141628;
  padding-top: 50px;
  color: white;
  text-align: center;
}
/* Footer Section */
